/* navbar */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-3px); }
  }
  @keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
  }
  .animate-bounce {
    animation: bounce 2s infinite;
  }
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  /*slide baar  */

  #learningGrid::-webkit-scrollbar {
    height: 6px;
  }
  #learningGrid::-webkit-scrollbar-track {
    background: #F3F4F6;
    border-radius: 3px;
  }
  #learningGrid::-webkit-scrollbar-thumb {
    background: #0a63b0;
    border-radius: 3px;
  }
  #learningGrid::-webkit-scrollbar-thumb:hover {
    background: #084b8a;
  }